:root {
	/* --color-dark-brown2: #241b19; */
	--color-dark-brown1: #553a34;
	/* --color-neutral-brown: #6b4c4c;
	--color-light-brown1: #8f6b64;
	--color-light-brown2: #bc9072; */

    --color-brown2: #C19450;
    --color-jet-stream: #C5DBC8;
    --color-white-chocolate: #ECE9D2;
    --color-white-chocolate-variation: #ECD9C2;
    /* --color-pale-silver: #D5C5B5;
    --color-tuscany: #B89E97; */
}

html{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/022/520/876/large/bogdan-mb0sco-coffee-shop-snow-hdpreview.jpg?1584925104);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Yusei Magic', sans-serif;
    overflow-x: hidden;
}


body{
    min-height: 100vh;
    margin: 0;
}

#content {
    min-height: 90vh;
    position: relative;
    padding-bottom: 10vh;
}
/**************
* SECTIONS    *
*             *
***************/
main h1{
    margin-top: 0;
}

main {
    width: 600px;
    margin: 70px auto 0px auto;
    padding: 30px 200px 50px 200px;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: var(--color-white-chocolate);

    border-radius: 100px;
}


.title {
    color: var(--color-dark-brown1);
    margin: 0;
}

.titleDiv {
    background-color: var(--color-jet-stream);
    padding: 10px 30px;
    border: 1px solid var(--color-brown2);
    border-radius: 50%;
}

.coffee__img{
    width: 400px;
}

.card {
    background-color: var(--color-white-chocolate-variation);
    border-left: 3px solid black;
    padding: 10px 20px 10px 20px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    display: flex;
    flex-direction: column;
}

.coffee__card {
    background-color: var(--color-white-chocolate-variation);
    border-left: 3px solid black;
    padding: 10px 20px 10px 20px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    width: 500px;
}

.home__img {
    width: 400px;
    border-radius: 50%;
    align-self: center;
}

.contact__Contact-Information {
    margin-top: 30px;
    border: 3px solid var(--color-brown2);
    padding: 10px 20px 10px 20px;

    display: grid;
    grid-template-columns: 290px 20px 290px;
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    "contactTitle . SocialNetworkTitle"
    "contact . socialNetwork";
    
}

.contact__Icon {
    width: 40px;
}

.contact__icon-text{
    display: flex;
}

.contact__phone-mail {
    grid-area: contact;
}

.contact__social-network{
    grid-area: SocialNetworkTitle;
}

.contact__social-network-div{
    grid-area: socialNetwork;
}

/************
* HEADER    *
*           *
*************/
.header {
    background-color: var(--color-white-chocolate);
    height: 50px;
}

.header__nav {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: bottom;
    gap: 30px;
}

.header__pages{
    margin-top: 5px;
    padding: 10px 30px;

    cursor: pointer;

    border: 3px solid var(--color-jet-stream);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.header__pages:hover {
    text-decoration: underline;
}

.header__pages-active{
    margin-top: 5px;
    padding: 10px 30px;
    background-color: var(--color-jet-stream);

    cursor: pointer;

    border: 3px solid var(--color-jet-stream);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.header__pages-active:hover {
    text-decoration: underline;
}

/************
* FOOTER    *
*           *
*************/
.footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 9px 10% 9px 10%;
    margin-top: 10px;

    height: 32px;

    background-color: var(--color-white-chocolate);

    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.footer_gitHubLink {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 10px;

    text-decoration: none;
    color: #000;
}

.footer__art {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}