:root {
	/* --color-dark-brown2: #241b19; */
	--color-dark-brown1: #553a34;
	/* --color-neutral-brown: #6b4c4c;
	--color-light-brown1: #8f6b64;
	--color-light-brown2: #bc9072; */

    --color-jet-stream: #C5DBC8;
    --color-white-chocolate: #ECE9D2;
    /* --color-pale-silver: #D5C5B5;
    --color-tuscany: #B89E97; */
}

body{
    height: 100vh;
    background-color: var(--color-jet-stream);
    margin: 0;
}

main h1{
    margin-top: 0;
}

main {
    width: 600px;
    margin: 10px auto 0px auto;
    padding: 30px 200px 30px 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white-chocolate);

    border-radius: 100px;
}

.title {
    color: var(--color-dark-brown1);
}

.header {
    background-color: var(--color-white-chocolate);
    height: 50px;
}

.header__nav {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: bottom;
    gap: 30px;
}

.header__pages{
    margin-top: 5px;
    padding: 10px 30px;

    cursor: pointer;

    border: 3px solid var(--color-jet-stream);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.header__pages:hover {
    text-decoration: underline;
}

.header__pages-active{
    margin-top: 5px;
    padding: 10px 30px;
    background-color: var(--color-jet-stream);

    cursor: pointer;

    border: 3px solid var(--color-jet-stream);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.header__pages-active:hover {
    text-decoration: underline;
}

.coffee__img{
    width: 400px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 9px 10% 9px 10%;

    height: 32px;

    background-color: var(--color-white-chocolate);

    display: flex;
    align-items: flex-end;
}

.footer_gitHubLink {
    display: flex;
    align-items: center;
    height: 32px;
}

.footer__art {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}